[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gclink"]
	path = gclink
	url = https://github.com/liuyanglee/gclink
[submodule "mclink"]
	path = mclink
	url = https://github.com/liuyanglee/mclink
